/* arima-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Arima';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/arima-v7-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* palanquin-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 500;
    src: url('./assets/fonts/palanquin-v17-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Arima';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/arima-v7-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

html {
    font-size: 16px;
}

.header-section {
    height: 112px;
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    align-items: center;
    background-color: #4EA487;
    gap: 102px;
}

.header-icon {
    width: 72px;
}

.header-text {
    display: flex;
    gap: 72px
}

.header-text>a {
    color: #F8F5EB;
    font-size: 1.5rem;
    font-family: 'Arima';
    font-style: normal;
    font-weight: 700;
}

.highlight-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    padding-top: 120px;
}

.highlight-header {
    display: flex;
    gap: 8px;
}

.highlight-header>img {
    height: 48px;
}

h4 {
    font-family: 'Palanquin';
    font-size: 2.5rem;
    color: #4EA487;
}

h1 {
    font-family: 'Arima';
    font-size: 4rem;
    font-style: normal;
    color: #F1C953;
    line-height: 110%;
}



.article-container {
    width: 1200px;
    padding-left: 120px;
}

.intro-container {
    display: flex;
}


.highlight-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-left: 120px;
    align-items: flex-start;
    padding: 40px 0;
}

.highlight-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    text-align: left;
}

.highlight-header>h3 {
    font-family: 'Palanquin';
    font-size: 2rem;
    font-weight: 600;
    color: #4EA487;
    ;
}



.highlight-text {
    font-family: 'Palanquin';
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #54370D;
    text-align: left;
}



.article-meta {
    display: flex;
    align-items: center;
    gap: 32px;
}

.meta-item {
    display: flex;
    align-items: center;
    gap: 6px
}

.meta-item img {
    width: 20px;
    height: auto;
}

.meta-item span {
    font-family: 'Palanquin';
    font-size: 16px;
    font-weight: 400;
    color: rgba(84, 55, 13, 1);
}

.article-content {
    max-width: 1200px;
    margin: 32px auto 0;
    font-family: 'Palanquin';
    font-size: 24px;
    font-weight: 400;
    line-height: 120%;
    color: #3d3d3d;
}

.article-content p {
    font-family: 'Palanquin';
    font-size: 24px;
    font-weight: 400;
    line-height: 120%;
    color: rgba(61, 61, 61, 1);
    max-width: 1200px;
    margin: 0 auto;
}


.author-card {
    width: 272px;
    height: 400px;
    padding: 30px;
    border-radius: 30px;
    background-color: #4ea48733;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: end;
    gap: 8px;
    box-shadow: 1px 4px 8px #443535;
}

.author-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;

}

.author-name {
    font-family: 'Arima';
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    color: rgba(84, 55, 13, 1);
    text-align: center;
    margin-bottom: -12px;

}

.author-role {
    font-family: 'Arima';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 100%;
    color: #54370d;
    text-align: center;

}

.author-description {
    width: 240px;
    height: 171px;
    margin: 0;
    font-family: 'Palanquin';
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    color: #54370d;
    letter-spacing: 0;
    text-align: left;
}





.section-image {
    padding: 120px;
}

.headline-slider {
    display: flex;
    justify-content: center;
    font-family: 'Arima';
    font-size: 2rem;
    font-weight: 600;
    font-style: semi-bold;
    color: #54370D;
    width: 1100px;
    padding-bottom: 120px;
}

.headline-image-slider {
    z-index: 1;
    border-radius: 15px;
    width: 200px;
    height: 300px;
    box-shadow: 0px 4px 3px #08080870,
        0px 14px 11px #050505a4,
        0px 32px 24px #000000da;
    object-fit: cover;
    transform: perspective(350px) rotateY(20deg) translateX(-20px);
    transform-origin: 50% 50%;
    filter: brightness(20%);

    transition: all 0.75s ease-in-out;
}

.headline-image-slider:hover {
    z-index: 2;
    filter: brightness(100%);
    transform: perspective(450px) rotateY(0) translate(0) scaleX(1.5) scaleY(1.5);
}

.headline-image-slider:hover~.headline-image-slider {
    z-index: 1;
    filter: brightness(20%);
    transform: perspective(350px) rotateY(-20deg) translateX(20px);

}

.center-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 1000px;
    padding-left: 120px;
    padding-bottom: 120px;
    font-family: 'Palanquin';
    font-size: 1.5rem;
    line-height: 120%;
    color: #3d3d3d;

}



.word-style {
    color: #3d3d3d;
    font-style: italic;
    font-weight: bold;
    font-size: 1.6rem;
    text-shadow: 0px 5px 10px #0000ff;
}

.center-list-headline {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 1000px;
    padding-left: 220px;
    padding-bottom: 25px;
    font-family: 'Palanquin';
    font-size: 1.5rem;
    line-height: 120%;
    color: #3d3d3d;
}

.center-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1000px;
    padding-left: 220px;
    font-family: 'Palanquin';
    font-size: 1.5rem;
    line-height: 120%;
    color: #3d3d3d;
}


.tipps-box {
    width: 100%;
    padding-top: 180px;

}

.tipps-section {
    width: 1083px;
    height: 195px;
    margin-left: 120px;
    position: relative;
}

.list-tipps {
    width: 1083px;
    height: 195px;
    box-sizing: border-box;
    font-family: 'Palanquin';
    font-size: 24px;
    font-weight: 400;
    line-height: 120%;
    color: rgba(61, 61, 61, 1);
    background-color: rgba(78, 164, 135, 0.2);
    margin: 0;
    padding: 26px 16px 24px 52px;
    border-radius: 30px;
    box-shadow: -4px 4px 8px #3f0000;
    position: relative;
    z-index: 1;

}


.pro-tipps {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 195.92px;
    height: 66px;
    font-family: 'Palanquin';
    font-size: 28px;
    font-weight: 700;
    line-height: 120%;
    color: #F1C953;
    background-color: #4EA487;
    box-shadow: 1px 4px 8px #000000;
    border-radius: 10px;
    position: absolute;
    top: -48px;
    left: -48px;
    transform: rotate(-13.67deg);
    z-index: 2;
}


.list-tipps a {
    color: rgba(78, 164, 135, 1);
    font-family: 'Palanquin';
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    line-height: 120%;
    letter-spacing: 0;
    text-decoration: none;
}



.last-text {
    display: flex;
    justify-content: flex;
    align-items: center;
    flex-direction: column;
    width: 1000px;
    padding: 120px;
    font-family: 'Palanquin';
    font-size: 1.5rem;
    line-height: 120%;
    color: #3d3d3d;
}




.follow-me {
    width: 493px;
    height: 154px;
    padding-bottom: 120px;
    padding-left: 120px;
}

.follow-me-text {
    width: 463px;
    margin: 0 auto;
    font-family: "Arima", cursive;
    font-size: 24px;
    font-weight: 500;
    line-height: 120%;
    text-align: center;
    color: #54350d;
}

.follow-me-action {
    position: relative;
    width: 100%;
    height: 96px;
}

.rainbow {
    text-shadow: 0px 5px 25px #000000;
    animation: 1s infinite rainbow;
}

@keyframes rainbow {
    0% {
        color: #ff0000;
    }

    25% {
        color: #a7b300;
    }

    50% {
        color: #008000;
    }

    75% {
        color: #0000ff;
    }

    100% {
        color: #ac00ac;
    }
}




.share {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 195.92px;
    height: 66px;
    font-family: 'Arima';
    font-size: 28px;
    font-weight: 700;
    line-height: 120%;
    color: #F1C953;
    background-color: #4EA487;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    left: 100px;
    bottom: 60px;
    z-index: 1;
}


.share:hover {
    background-color: #4EA487;
    color: #F1C953;
}






.footer {
    background-color: #4EA487;
    width: 100%;
    padding: 30px;
    margin-top: auto;
    font-family: 'Palanquin';
    font-weight: 400;
}

.footer-container {
    background-color: #4EA487;
    width: 100%;
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer p {
    color: #FFFFFF;
}

.footer a {
    color: #FFFFFF;
    font-family: 'Palanquin';
    font-weight: 400;
}

.footer-left {
    display: flex;
    align-items: center;
    gap: 40px;
}

.copyright {
    display: flex;
    align-items: center;
    gap: 8px;
}

.copyright img {
    width: 16px;
    height: 16px;
}

.copyright p {
    margin: 0;
}

.footer-left p {
    margin: 0;
}

.footer-left>div:last-child {
    display: flex;
    gap: 40px;
}

.footer-right {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-right img {
    width: 32px;
    height: 32px;
}

.footer-right img[alt="Youtube"] {
    width: 44px;
}