/* arima-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Arima';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/arima-v7-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* palanquin-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 500;
    src: url('./assets/fonts/palanquin-v17-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

html {
    font-size: 16px;
}

.header-section {
    height: 112px;
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    align-items: center;
    background-color: #4EA487;
    gap: 102px;
}

.header-icon {
    width: 72px;
}

.header-text {
    display: flex;
    gap: 72px
}

.header-text>a {
    color: #F8F5EB;
    font-size: 1.5rem;
    font-family: 'Arima';
    font-style: normal;
    font-weight: 700;
}

.highlight-section {
    display: flex;
    justify-content: center;
    padding-left: 120px;
    padding-right: 120px;
    flex-direction: column;
    gap: 24px;
    padding-top: 120px;
}

.highlight-header {
    display: flex;
    align-items:flex-start;
    justify-content: center;
    gap: 8px;
}

.highlight-header>img {
    height: 48px;
}

h3 {
    font-family: 'Palanquin';
    font-size: 2.5rem;
    color: #4EA487;
}

h1 {
    font-family: 'Arima';
    font-size: 4rem;
    font-style: normal;
    color: #F1C953;
}

.hightlight-text {
    text-align:start;
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 500;
    color: #54370D;
    font-size: 1.5rem;
    padding-bottom: 88px;
}

.highlight-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 40px 120px;
}

.highlight-header {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.author-box {
    display: flex;
    flex-direction:column-reverse;
    justify-content:center;
    align-items:flex-end;
}

.tipps-box {
    display: flexbox;
    align-items:center;
    justify-content: center;
    padding: 120px;
}

.tipps-section {
    display: flex;
    align-items:center;
    justify-content:center;
    padding: 120px;
    position: relative;
}

.pro-tipps {
    display: flex;
    align-items:center;
    justify-content: center;
    font-family: 'Palanquin';
    font-size: 1.75rem;
    color: #F1C953;
    height: 66px;
    width: 200px;
    background-color: #4EA487;
    rotate: -10deg;
    border-radius: 15px;
    margin-bottom: 200px;
    position: absolute;
    left: 40px;
    z-index: 2;
}

.list-tipps {
font-family: 'Palanquin';
font-size: 1,5rem;
color:#54370D;
background-color: #4ea48733;
padding: 15px;
border-radius: 15px;
position: absolute;
left: 80px;
z-index: 1;
}


.footer {
    background-color: #4ea487;
    padding: 30px 0;
    margin-top: auto;
}

.footer-container {
    width: 100%;
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer p {
    color: rgba(255, 255, 255, 1);
}

.footer a {
    color: rgba(255, 255, 255, 1);
}

.footer-left {
    display: flex;
    align-items: center;
    gap: 40px;
}

.copyright {
    display: flex;
    align-items: center;
    gap: 8px;
}

.copyright img {
    width: 16px;
    height: 16px;
}

.copyright p {
    margin: 0;
}

.footer-left p {
    margin: 0;
}

.footer-left>div:last-child {
    display: flex;
    gap: 40px;
}

.footer-right {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-right img {
    width: 32px;
    height: 32px;
}

.footer-right img[alt="Youtube"] {
    width: 44px;
}