/* arima-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Arima';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/arima-v7-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* palanquin-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 500;
    src: url('./assets/fonts/palanquin-v17-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Arima';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/arima-v7-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


* {
    margin: 0 auto;
    padding-left: 0px auto;
    padding-right: 0px auto;
    box-sizing: border-box;
    scroll-behavior: smooth;
    max-width: 1440px;
    text-decoration: none;

}

html {
    font-size: 16px;
}

.landing-section {
    width: 100%;
    background-color: #4EA487;
}

.header-section {
    height: 112px;
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    align-items: center;
    background-color: #4EA487;
    gap: 102px;
}

.header-icon {
    width: 72px;
}

.header-text {
    display: flex;
    gap: 72px
}

.header-text>a {
    color: #F8F5EB;
    font-size: 1.5rem;
    font-family: 'Arima';
    font-style: normal;
    font-weight: 700;
    position: relative;
}

.header-one::after {
    content: url(assets/icons/higlight-underline.png);
    position: absolute;
    bottom: -11px;
    left: 52%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease
}

.header-text .header-one:hover::after {
    opacity: 1;
}

.header-two::after {
    content: url(assets/icons/faq-underline.png);
    position: absolute;
    bottom: -8px;
    left: 54%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease
}

.header-two:hover::after {
    opacity: 1;
}

.header-three::after {
    content: url(assets/icons/contact-underline.png);
    position: absolute;
    bottom: -8px;
    left: 48%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease
}

.header-three:hover::after {
    opacity: 1;
}

.header-text a:visited {
    color: #F1C953;
}

.highlight-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    padding-top: 120px;
}

.highlight-header {
    display: flex;
    gap: 8px;
}

.highlight-header>img {
    height: 48px;
}

h4 {
    font-family: 'Palanquin';
    font-size: 2.5rem;
    color: #4EA487;
}

h1 {
    font-family: 'Arima';
    font-size: 4rem;
    font-style: normal;
    color: #F1C953;
    line-height: 110%;
}


.article-container {
    width: 100%;
    max-width: 1440px;
    padding: 120px;
    padding-bottom: 0px;
}

.intro-container {
    display: flex;
}


.highlight-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-left: 120px;
    align-items: flex-start;
    padding: 40px 0;
}

.highlight-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    text-align: left;
}

.highlight-header>h3 {
    font-family: 'Palanquin';
    font-size: 2rem;
    font-weight: 600;
    color: #4EA487;
    ;
}



.highlight-text {
    font-family: 'Palanquin';
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #54370D;
    text-align: left;
}

.article-meta {
    display: flex;
    align-items: center;
    gap: 32px;
}

.meta-item {
    display: flex;
    align-items: center;
    gap: 6px
}

.meta-item img {
    width: 20px;
    height: auto;
}

.meta-item span {
    font-family: 'Palanquin';
    font-size: 16px;
    font-weight: 400;
    color: rgba(84, 55, 13, 1);
}

.article-content {
    max-width: 1200px;
    margin: 32px auto 0;
    font-family: 'Palanquin';
    font-size: 24px;
    font-weight: 400;
    line-height: 120%;
    color: #3d3d3d;
}

.article-content p {
    font-family: 'Palanquin';
    font-size: 24px;
    font-weight: 400;
    line-height: 120%;
    color: rgba(61, 61, 61, 1);
    max-width: 1200px;
    margin: 0 auto;
}


.author-card {
    width: 272px;
    height: 400px;
    padding: 30px;
    border-radius: 20px;
    background-color: #4ea48733;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: end;
    gap: 8px;
    box-shadow: 1px 4px 8px #443535;
}

.author-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;

}

.author-name {
    font-family: 'Arima';
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    color: rgba(84, 55, 13, 1);
    text-align: center;
    margin-bottom: -12px;

}

.author-role {
    font-family: 'Arima';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 100%;
    color: #54370d;
    text-align: center;

}

.author-description {
    width: 240px;
    height: 171px;
    margin: 0;
    font-family: 'Palanquin';
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    color: #54370d;
    letter-spacing: 0;
    text-align: left;
}




.slider-gallery {
    padding: 120px;
}

.section-image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 120px;
}

.headline-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: 'Arima';
    font-size: 2rem;
    font-weight: 600;
    font-style: semi-bold;
    color: #54370D;
    width: 1100px;
}

.headline-image-slider {
    z-index: 1;
    border-radius: 20px;
    width: 200px;
    height: 300px;
    box-shadow: 0px 0px 50px #FFFFFF,
        10px 24px 50px #e3fc01fd,
        -10px -24px 50px #00f7ffbe;
    object-fit: cover;
    transform: perspective(350px) rotateY(20deg) translateX(-20px);
    transform-origin: 50% 50%;
    filter: brightness(25%);

    transition: all 1s ease-in-out;
}

.headline-image-slider:hover {
    z-index: 2;
    filter: brightness(130%);
    transform: perspective(450px) rotateY(0) translate(0) scaleX(1.5) scaleY(1.5);
}

.headline-image-slider:hover~.headline-image-slider {
    z-index: 1;
    filter: brightness(25%);
    transform: perspective(350px) rotateY(-20deg) translateX(20px);

}

.slider_a {
    display: none;
}

.slider_a_wrapper {
    display: none;
}

.center-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 120px;
    padding-top: 0px;
    font-family: 'Palanquin';
    font-size: 1.5rem;
    line-height: 120%;
    color: #3d3d3d;

}



.word-style {
    color: #3d3d3d;
    font-style: italic;
    font-weight: bold;
    font-size: 1.6rem;
    text-shadow: 1px 1px 7.5px #0000ff;
}

.center-list-headline {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding-left: 120px;
    padding-bottom: 25px;
    font-family: 'Palanquin';
    font-size: 1.5rem;
    line-height: 110%;
    color: #3d3d3d;
}

.center-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    padding-left: 130px;
    padding-bottom: 120px;
    list-style: url("./assets/icons/travel-icon-list.png");
    list-style-position: inside;
    font-family: 'Palanquin';
    font-size: 1.5rem;
    line-height: 1.2rem;
    color: #3d3d3d;
}

.tipps-section {
    width: 80%;
    height: 195px;
    margin-left: 120px;
    position: relative;
}

.list-tipps {
    width: 100%;
    height: 195px;
    box-sizing: border-box;
    font-family: 'Palanquin';
    font-size: 24px;
    font-weight: 400;
    line-height: 120%;
    color: rgba(61, 61, 61, 1);
    background-color: rgba(78, 164, 135, 0.2);
    margin: 0;
    padding: 26px 16px 24px 52px;
    border-radius: 30px;
    box-shadow: 40px 40px 10px #4b502477;
    position: relative;
    z-index: 1;
    list-style-type: upper-roman;
}


.pro-tipps {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 66px;
    padding: 10px;
    font-family: 'Palanquin';
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 120%;
    color: #F1C953;
    background-color: #4EA487;
    box-shadow: 4px 4px 8px #000000;
    border-radius: 10px;
    position: absolute;
    top: -48px;
    left: -48px;
    transform: rotate(-15deg);
    z-index: 2;
}


.list-tipps a {
    color: rgba(78, 164, 135, 1);
    font-family: 'Palanquin';
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    line-height: 120%;
    letter-spacing: 0;
    text-decoration: none;
}

.last-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 120px;
    font-family: 'Palanquin';
    font-size: 1.5rem;
    line-height: 120%;
    color: #3d3d3d;
}

.follow-me {
    Display: flex;
    flex-direction: column;
    width: 493px;
    height: 154px;
    margin: 120px auto 80px;
    margin-top: 0px;
    position: relative;
}

.follow-me-text {
    display: flex;
    width: 463px;
    margin: 0 auto;
    font-family: "Arima", cursive;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 120%;
    text-shadow: 2px 10px 7.5px #000000;
    text-align: center;
    color: #54350d;
}

.follow-me-action {
    position: relative;
    width: 100%;
    height: 96px;
    margin-top: 48px;
}

.arrow {
    display: flex;
    padding-top: 0;
    transform: translateY(-50px) translateX(-200px);

}





button.share-icon {
    position: absolute;
    width: 158px;
    height: 48px;
    left: 144px;
    top: 0;
    border: 2px solid #eff3f2;
    border-radius: 48px;
    border-radius: 40px;
    background-color: #50a98d;
    box-shadow: 2px 10px 3px rgba(0, 0, 0, .28), 0 0 0px #39d7ff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    transition: all 260ms ease;
}

button.share-icon:hover {
    background: #50a98d;
    box-shadow: 2px 10px 3px rgba(0, 0, 0, 0.678), 0 0 0px #39d7ff;
    transition: all 260ms ease;
}

button.share-icon img {
    width: 32px;
    height: 32px;
    object-fit: contain;
}


button.share-icon span {
    font-family: "Arima";
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    color: #f1c913;
    letter-spacing: 5%;
}



.footer {
    background-color: #4EA487;
    width: 100%;
    padding: 30px;
    margin-top: auto;
    font-family: 'Palanquin';
    font-weight: 400;
}

.footer-container {
    background-color: #4EA487;
    width: 100%;
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer p {
    color: #FFFFFF;
}

.footer a {
    color: #FFFFFF;
    font-family: 'Palanquin';
    font-weight: 400;
}

.footer-left {
    display: flex;
    align-items: center;
    gap: 40px;
}

.copyright {
    display: flex;
    align-items: center;
    gap: 8px;
}

.copyright img {
    width: 16px;
    height: 16px;
}

.copyright p {
    margin: 0;
}

.footer-left p {
    margin: 0;
}

.footer-left>div:last-child {
    display: flex;
    gap: 40px;
}

.footer-right {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-right img {
    width: 32px;
    height: 32px;
}

.footer-right img[alt="Youtube"] {
    width: 44px;
}



@media (min-width: 1441px) {

    body {
        background-color: #ff000000;

    }



}

@media (max-width: 1228px) {
    .list-tipps {
        height: 330px;
    }

    .last-text {
        padding-top: 200px;
    }
}





@media (max-width: 767px) {
    * {
        margin: 0;
        padding-left: 0px;
        padding-right: 0px;
        box-sizing: border-box;
        scroll-behavior: smooth;

        text-decoration: none;

    }

    .header-section {
        justify-content: center;
        position: fixed;
        width: 768px;
        height: 80px;
        z-index: 10;
    }

    .header-information {
        display: none;
    }





    .article-container {
        width: 300px;
        padding: 5px;

    }

    .intro-container {}

    h4 {
        font-size: 1.25rem;
        width: 280px;
        line-height: 1.2rem;
    }

    h1 {
        font-size: 2.5rem;
        width: 280px;
        line-height: 2.5rem;
    }

    .highlight-text {
        font-size: 1.125rem;
        width: 280px;
    }

    .article-left {
        flex-direction: column;
    }

    .meta-item {
        width: 280px;
        flex-direction: row;
    }

    .author-card-mobile {
        padding-top: 20px;

    }


    .headline-image-slider {
        transform: rotateY(0deg) translateX(0px);
    }


    .slider-gallery {
        padding-left: 20px;
    }

    .headline-slider {
        font-size: 1.25rem;
        width: 300px;
        padding-bottom: 25px;
    }

    .section-image {
        padding: 20px;


    }

    .headline-image-slider {

        width: 130px;
        height: 195px;
    }

    .headline-image-slider:hover {
        z-index: 2;
        justify-content: center;
        filter: brightness(130%);
    }

    .section-image {
        display: none;
    }

    .slider_a {
        position: relative;
        width: 280px;
        height: 550px;
        gap: 5px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        overflow: hidden;
    }

    .slider_a input {
        z-index: 2;
    }

    .slider_a input[type="radio"] {
        appearance: none;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background: #6aecba42;
        cursor: pointer;
    }

    .slider_a input[type="radio"]:checked {
        background: #F1C953;
        border-color: #00cedd;
        width: 40px;
        height: 28px;
        border-radius: 20px;
    }

    .slider_a_wrapper {
        z-index: 1;
        width: 500%;
        height: 100%;
        position: absolute;
        display: flex;
        transition: all 0.5s ease-in-out;
    }

    .slider_a_element {
        width: calc(100% / 5);
        height: 100%;
        border-radius: 20px;
    }

    .slider_a input[value="one"]:checked~.slider_a_wrapper {
        transform: translateX(calc(560px));
    }

    .slider_a input[value="two"]:checked~.slider_a_wrapper {
        transform: translateX(calc(280px));
    }

    .slider_a input[value="three"]:checked~.slider_a_wrapper {
        transform: translateX(calc(0));
    }

    .slider_a input[value="four"]:checked~.slider_a_wrapper {
        transform: translateX(calc(-280px));
    }

    .slider_a input[value="five"]:checked~.slider_a_wrapper {
        transform: translateX(calc(-560px));
    }

    .center-text {
        width: 300px;
        font-size: 1rem;
        padding: 20px;
    }

    .word-style {
        font-size: 1rem;
        text-shadow: 0px 1px 5px #2bff00;
    }

    .center-list-headline {
        padding-left: 20px;
        font-size: 1rem;
    }

    .center-list {
        padding-left: 35px;
        width: 280px;
        font-size: 1rem;
    }

    .list-tipps {
        height: 330px;
        width: 280px;
        padding: 25px;
        font-size: 1rem;
    }

    .pro-tipps {
        left: -5px;
        top: -70px;
        transform: rotate(-15deg);
    }

    .list-tipps a {
        font-size: 1rem;
    }

    .last-text {
        font-size: 1rem;
        width: 300px;
        padding: 20px;
        padding-top: 200px;
    }

    .follow-me-text {
        font-size: 1.125rem;
        width: 300px;
    }

    .follow-me-action {
        width: 300px;
    }

    .arrow {
        height: 90px;
        width: 30px;
        transform: translateY(0px);
        transform: translateX(100px);
    }

    .footer {
        height: 134px;
        margin-bottom: 88px;
        padding: 0px;
        padding-left: 5px;
        padding-right: 5px;
        line-height: 1;
        font-size: 0.8rem;
    }

    .footer-container {
        width: 375px;
        height: 134px;
        padding-left: 0px;
        margin-bottom: 88px;
    }

    .footer-left {
        flex-direction: column-reverse;
        width: 147px;
        height: 134px;
        gap: 5px;
        padding-left: 0px;
        justify-content: center;
    }

    .copyright {
        gap: 0px;
        flex-direction: row;
    }

    .footer-left-cookie {
        display: flex;
        flex-direction: column;
    }

    .footer-left>div:last-child {
        display: flex;
        gap: 0px;
    }

    .footer-right {
        gap: 6px;
    }

    .footer-right img {
        width: 24px;
        height: 24px;
    }

    .footer-right img[alt="Youtube"] {
        width: 33px;
    }

}