@font-face {
    font-display: swap;
    font-family: 'Arima';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/arima-v7-latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 500;
    src: url('./assets/fonts/palanquin-v17-latin-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Palanquin Dark';
    font-style: normal;
    font-weight: 600;
    src: url('./assets/fonts/palanquin-dark-v17-latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/palanquin-v17-latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/palanquin-v17-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 600;
    src: url('./assets/fonts/palanquin-v17-latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Arima';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/arima-v7-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Arima';
    font-style: normal;
    font-weight: 600;
    src: url('./assets/fontsarima-v7-latin-600.woff2') format('woff2');
}

* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

html {
    font-size: 16px;
}

.header-section {
    height: 112px;
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    align-items: center;
    background-color: #4EA487;
    gap: 102px;
}

.header-icon {
    width: 72px;
}

.header-text {
    display: flex;
    gap: 72px
}

.header-text>a {
    color: #F8F5EB;
    font-size: 1.5rem;
    font-family: 'Arima';
    font-style: normal;
    font-weight: 700;
    position: relative;
}

.header-one::after {
    content: url(assets/icons/higlight-underline.png);
    position: absolute;
    bottom: -11px;
    left: 52%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease
}

.header-text .header-one:hover::after {
    opacity: 1;
}

.header-two::after {
    content: url(assets/icons/faq-underline.png);
    position: absolute;
    bottom: -8px;
    left: 54%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease
}

.header-two:hover::after {
    opacity: 1;
}

.header-three::after {
    content: url(assets/icons/contact-underline.png);
    position: absolute;
    bottom: -8px;
    left: 48%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease
}

.header-three:hover::after {
    opacity: 1;
}

.header-text a:visited {
    color: #F1C953;
}

.intro {
    padding-top: 128px;
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
}

.intro-all {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.intro-all {
    flex: 1;
}

h4 {
    font-size: 2.5rem;
    color: #4EA487;
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 600;
}

h1 {
    font-size: 4rem;
    color: #F1C953;
    font-family: 'Arima';
    font-style: normal;
    font-weight: 700;
}

.intro-text p {
    font-size: 2rem;
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 400;
    color: #54370D;
    line-height: 1.2;
}

.intro-information {
    display: flex;
    gap: 32px;
    padding-top: 40px;
}

.img-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.author-card {
    width: 272px;
    height: 492px;
    padding: 30px;
    border-radius: 30px;
    background-color: #4ea48733;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.author-image {
    width: 120px;
    border-radius: 50%;
}

.author-name {
    font-family: 'Arima';
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 120%;
    color: rgba(84, 55, 13, 1);
    text-align: center;
    margin-bottom: -5px;

}

.author-role {
    font-family: 'Arima';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 0%;
    color: #54370d;
    text-align: center;

}

.author-description {
    width: 240px;
    height: 171px;
    margin: 0;
    font-family: 'Palanquin';
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    color: #54370d;
    letter-spacing: 0;
    text-align: left;
}

.photo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 160px;
    padding-right: 160px;
    padding-top: 88px;
}

.section-photo {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 100%;
}

.photo-header {
    font-family: 'Arima';
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
}

.slider_b {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
    padding-top: 88px;
}

.slider_b_element {
    z-index: 1;
    height: 300px;
    width: 200px;
    object-fit: cover;
    box-shadow: 0px 4px 3px rgba(3, 7, 18, 0.03),
        0px 14px 11px rgba(3, 7, 18, 0.05),
        0px 32px 24px rgba(3, 7, 18, 0.08);
    transform: perspective(250px) rotateY(20deg) translateX(-20px);
    transform-origin: center;
    transition: all 250ms ease-in-out;
    border-radius: 16px;
}

.slider_b_element:hover {
    z-index: 2;
    transform: perspective(350px) rotateY(0deg) translateX(0px) scaleX(1.3) scaleY(1.3);
}

.slider_b_element:hover~.slider_b_element {
    z-index: 1;
    transform: perspective(250px) rotateY(-20deg) translateX(20px);
}

.japan-text {
    padding-left: 120px;
    padding-right: 120px;
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 120%;
    padding-top: 88px;
    color: #3D3D3D;
}

.japan-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 88px;
    padding-left: 160px;
    padding-right: 160px;
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 120%;
    color: #3D3D3D;
}

.tipps-box {
    display: flex;
    justify-content: center;
    padding-top: 180px;
    padding-bottom: 88px;
}

.tipps-section {
    width: 80%;
    height: 195px;
    position: relative;
}

.list-tipps {
    width: 100%;
    box-sizing: border-box;
    font-family: 'Palanquin';
    font-size: 24px;
    font-weight: 400;
    line-height: 120%;
    color: rgba(61, 61, 61, 1);
    background-color: rgba(78, 164, 135, 0.2);
    margin: 0;
    padding: 26px 16px 24px 52px;
    border-radius: 30px;
    position: relative;
    z-index: 1;
}


.pro-tipps {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 195.92px;
    height: 66px;
    font-family: 'Palanquin';
    font-size: 28px;
    font-weight: 700;
    line-height: 120%;
    color: #F1C953;
    background-color: #4EA487;
    border-radius: 10px;
    position: absolute;
    top: -48px;
    left: -48px;
    transform: rotate(-13.67deg);
    z-index: 2;
}


.list-tipps a {
    color: rgba(78, 164, 135, 1);
    font-family: 'Palanquin';
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    line-height: 120%;
    letter-spacing: 0;
    text-decoration: none;
}


.last-text {
    display: flex;
    justify-content: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 120px;
    font-family: 'Palanquin';
    font-size: 1.5rem;
    line-height: 120%;
    color: #3d3d3d;
}


.follow-me-cta {
    width: 493px;
    height: 154px;
    margin: 120px auto 80px;
    position: relative;
}


.follow-me-cta-text {
    width: 463px;
    margin: 0 auto;

    font-family: "Arima", cursive;
    font-size: 24px;
    font-weight: 500;
    line-height: 120%;

    text-align: center;
    color: #54350d;
}

.follow-me-cta-action {
    position: relative;
    width: 100%;
    height: 96px;
    margin-top: 48px;
}

.arrow {

    display: flex;
    padding-top: 0;
    transform: translateY(-50px);

}

button.share-icon {
    position: absolute;

    width: 178px;
    height: 52px;

    left: 144px;
    top: 0;

    border: none;
    border-radius: 40px;

    background-color: #50a98d;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    cursor: pointer;
}

button.share-icon img {
    width: 32px;
    height: 32px;
    object-fit: contain;
}


button.share-icon span {
    font-family: "Arima";
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    color: #f1c913;
    letter-spacing: 5%;
}

.footer {
    background-color: #4EA487;
    width: 100%;
    padding: 30px;
    margin-top: auto;
    font-family: 'Palanquin';
    font-weight: 400;
}

.footer-container {
    background-color: #4EA487;
    width: 100%;
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer p {
    color: #FFFFFF;
}

.footer a {
    color: #FFFFFF;
    font-family: 'Palanquin';
    font-weight: 400;
}

.footer-left {
    display: flex;
    align-items: center;
    gap: 40px;
}

.copyright {
    display: flex;
    align-items: center;
    gap: 8px;
}

.copyright img {
    width: 16px;
    height: 16px;
}

.copyright p {
    margin: 0;
}

.footer-left p {
    margin: 0;
}

.footer-left>div:last-child {
    display: flex;
    gap: 40px;
}

.footer-right {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-right img {
    width: 32px;
    height: 32px;
}

.footer-right img[alt="Youtube"] {
    width: 44px;
}

@media screen and (min-width: 1440px) {
    .header-section {
        padding-left: max(120px, calc(50% - 720px));
        padding-right: max(120px, calc(50% - 720px));
    }

    .intro {
        padding-left: max(120px, calc(50% - 720px));
        padding-right: max(120px, calc(50% - 720px));
    }

    .photo-box {
        padding-left: max(160px, calc(50% - 720px));
        padding-right: max(160px, calc(50% - 720px));
    }

    .slider_b_element {
        height: 300px;
        width: 200px;
    }

    .japan-text {
        padding-left: max(120px, calc(50% - 720px));
        padding-right: max(120px, calc(50% - 720px));
    }

    .japan-information {
        padding-left: max(120px, calc(50% - 720px));
        padding-right: max(120px, calc(50% - 720px));
    }

    .tipps-box {
        padding-left: max(120px, calc(50% - 720px));
        padding-right: max(120px, calc(50% - 720px));
    }

    .footer-container {
        padding-left: max(120px, calc(50% - 720px));
        padding-right: max(120px, calc(50% - 720px));
    }

}

@media screen and (min-width: 768px) and (max-width:1439px) {

    .header-section {
        padding-left: clamp(20px, calc(50% - 384px), 120px);
        padding-right: clamp(20px, calc(50% - 384px), 120px);
    }

    .intro {
        padding-left: clamp(20px, calc(50% - 384px), 120px);
        padding-right: clamp(20px, calc(50% - 384px), 120px);
    }

    .photo-box {
        padding-left: clamp(20px, calc(50% - 384px), 160px);
        padding-right: clamp(20px, calc(50% - 384px), 160px);
    }

    .slider_b {
        padding-left: clamp(20px, calc(50% - 384px), 120px);
        padding-right: clamp(20px, calc(50% - 384px), 120px);
    }

    .slider_b_element {
        height: 200px;
        width: 150px;
    }

    .section-photo {
        padding-left: clamp(20px, calc(50% - 384px), 120px);
        padding-right: clamp(20px, calc(50% - 384px), 120px);
    }

    .japan-text {
        padding-left: clamp(20px, calc(50% - 384px), 120px);
        padding-right: clamp(20px, calc(50% - 384px), 120px);
    }

    .japan-information {
        padding-left: clamp(20px, calc(50% - 384px), 120px);
        padding-right: clamp(20px, calc(50% - 384px), 120px);
    }

    .tipps-box {
        padding-left: clamp(20px, calc(50% - 384px), 120px);
        padding-right: clamp(20px, calc(50% - 384px), 120px);
    }

    .footer-container {
        padding-left: clamp(20px, calc(50% - 384px), 120px);
        padding-right: clamp(20px, calc(50% - 384px), 120px);
    }

}

@media screen and (min-width: 1253px) and (max-width:1439px) {
    .slider_b_element {
        height: 250px;
        width: 200px;
    }
}

@media screen and (min-width: 768px) and (max-width:899px) {
    .slider_b_element {
        height: 250px;
        width: 125px;
    }
}

@media screen and (min-width: 320px) and (max-width:767px) {
    .header-section {
        padding-left: clamp(5px, calc(50% - 160px), 20px);
        padding-right: clamp(5px, calc(50% - 160px), 20px);
        display: flex;
        justify-content: center;
    }

    .header-information {
        display: none;
    }

    .intro {
        padding-left: clamp(5px, calc(50% - 160px), 20px);
        padding-right: clamp(5px, calc(50% - 160px), 20px);
        padding-top: 24px
    }

    .intro-all {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .intro-small h4 {
        font-size: 1.25rem;
    }

    .intro-big h1 {
        font-size: 2.5rem;
    }

    .intro-text p {
        font-size: 1.125rem;
    }

    .img-text p {
        font-size: 1rem;
    }

    .intro-information {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .photo-box {
        padding-left: clamp(5px, calc(50% - 160px), 20px);
        padding-right: clamp(5px, calc(50% - 160px), 20px);
    }

    .photo-box h5 {
        font-size: 1.25rem;
    }

    .japan-text {
        padding-left: clamp(5px, calc(50% - 160px), 20px);
        padding-right: clamp(5px, calc(50% - 160px), 20px);
    }

    .japan-text p {
        font-size: 1rem;
    }

    .japan-information {
        padding-left: clamp(5px, calc(50% - 160px), 20px);
        padding-right: clamp(5px, calc(50% - 160px), 20px);
    }

    .japan-information p {
        font-size: 1rem;
    }

    .tipps-box {
        padding-top: 80px;
        padding-bottom: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .tipps-section {
        width: 100%;
        height: auto;
    }

    .pro-tipps {
        width: 200px;
        height: 66px;
        font-size: 1.75rem;
        top: -50px;
        left: -7px;
    }

    .pro-tipps img{transform: rotate(10deg);}

    .list-tipps {
        font-size: 1rem;
        padding: 40px 12px 20px 16px;
        border-radius: 20px;
    }

}