/* arima-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Arima';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/arima-v7-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* palanquin-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 500;
    src: url('./assets/fonts/palanquin-v17-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

html {
    font-size: 16px;
}

.header-section {
    height: 112px;
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    align-items: center;
    background-color: #4EA487;
    gap: 102px;
}

.header-icon {
    width: 72px;
}

.header-text {
    display: flex;
    gap: 72px
}

.header-text>a {
    color: #F8F5EB;
    font-size: 1.5rem;
    font-family: 'Arima';
    font-style: normal;
    font-weight: 700;
}

.highlight-section {
    display: flex;
    justify-content: center;
    padding-left: 120px;
    padding-right: 120px;
    flex-direction: column;
    gap: 24px;
    padding-top: 120px;
}

.highlight-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.highlight-header>img {
    height: 48px;
}

.highlight-header>h2 {
    font-family: 'Arima';
    font-style: normal;
    font-weight: 700;
    color: #4EA487;
}

.hightlight-text {
    text-align: center;
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 500;
    color: #54370D;
    font-size: 1.5rem;
    padding-bottom: 88px;
}

.slider {
    display: flex;
    justify-content: center;
    padding-left: 120px;
    padding-right: 120px;
}

.slider_a {
    position: relative;
    width: 100%;
    height: 533px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    gap: 22px;
}


.slider_a input {
    z-index: 2;
    position: relative;
    bottom: 40px;
}

.slider_a input[type="radio"] {
    appearance: none;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}

.slider_a input[type="radio"]:checked {
    background: #F1C953;
    border-color: #F1C953;
    width: 40px;
    height: 28px;
    border-radius: 20px;
}

.slider_a_wrapper {
    z-index: 1;
    width: 300%;
    height: 100%;
    position: absolute;
    display: flex;
    transition: all 0.5s ease-in-out;
}

.slider_a_wrapper>a {
    display: block;
    width: calc(100% / 3);
    height: 100%;
}

.slider_a_wrapper>a>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider_a input[value="one"]:checked~.slider_a_wrapper {
    transform: translate(calc(100%/3));
}

.slider_a input[value="two"]:checked~.slider_a_wrapper {
    transform: translate(0);
}

.slider_a input[value="three"]:checked~.slider_a_wrapper {
    transform: translate(calc(-100%/3));
}

.label-text {
    font-family: 'Palanquin';
    font-size: 1.5rem;
    padding-top: 56px;
}

input[type=text],
select,
textarea {

    width: 100%;
    padding: 1px;
    border: 2px #ccc;
    border-bottom-style: solid;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: "Palanquin";
    font-size: 1.5rem;
}

.question-first {
    display: flex;
}

.privacy {
    font-family: "Palanquin";
    color: #54370D;
}

input[type=send] {
    background-color: #04aa6d00;
    color: #737373;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    font-family: "Arima";
    font-style: bold;
    font-size: 1.5rem;

    border: 1px;
    border-style: solid;
    border-radius: 40px;
    border-color: #737373;
    cursor: pointer;
}

input[type=send]:hover {
    background-color: #F1C953;
}

.container {
    border-radius: 5px;
    background-color: none;
    padding: 20px;
}

.footer {
    background-color: rgba(78, 164, 135, 1);
    ;
    padding: 30px 0;
    margin-top: auto;
}

.footer-container {
    width: 100%;
    padding-left: 120px;
    padding-right: 120px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4EA487;

}

.footer p {
    color: rgba(255, 255, 255, 1);
}

.footer a {
    color: rgba(255, 255, 255, 1);
}

.footer-left {
    display: flex;
    align-items: center;
    gap: 40px;
}

.copyright {
    display: flex;
    align-items: center;
    gap: 8px;
}

.copyright img {
    width: 16px;
    height: 16px;
}

.copyright p {
    margin: 0;
}

.footer-left p {
    margin: 0;
}

.footer-left>div:last-child {
    display: flex;
    gap: 40px;
}

.footer-right {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-right img {
    width: 32px;
    height: 32px;
}

.footer-right img[alt="Youtube"] {
    width: 44px;
}

.footer {
    margin-top: auto;
}